@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500;700;900&display=swap');

:root {
    --orange: #F16718;
    --orange-light: #FF9B62;
    --gray-darg: #162542;
    --gray-light: #7B8BAD;
    --gray-light-two: #E8EFF2;
    --font-700: 'wght' 700, 'GRAD' 16;

}

*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'IBM Plex Sans';
    box-sizing: border-box;
    text-decoration: none;
    /* outline: solid red; */
}


body {
    max-width: 100vw;
    height: auto;
}


            /* Mobile version */

 /* <!-- Head off page --> */
    
    header {
        display: flex !important;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
    }

    header img{
        display: flex;
        width: 40px;
        height: 40px;
        margin-left: 6.4%;
        margin-top:27px;
    }

    header a {
        display: inline-block;
        display: flex;
        justify-content: center;
        background: var(--gray-light-two);
        border-radius: 8px;
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        color: var(--gray-darg);
        width: 150px;
        height: 48px;
        align-items: center;
        margin-top: 27px;
        margin-right: 6.4%;
    }

    header a:hover {
        background-color: var(--gray-darg);
        color: #E8EFF2;
    }


        /* Main of the page */

     main {
        display: flex;
        flex-direction: column;
        margin-left: 6.4%;
        margin-top: 64px;
     }  

    .container {
        position: relative; 
        align-items: center;
        margin-left: 6%;
        margin-top: 18.13%;
        margin-bottom: 30px;
    }
    .container h1 {
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 900;
        font-size: 48px;
        line-height: 48px;
        color: var(--gray-darg);
    }
    .container p {
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        margin-top: 32px;
        color: var(--gray-light);
    }
    .order {
        /* justify-content: space-between; */
        align-items: center;
        display: flex;
    }
    .container a {
        display: flex;
        background: var(--orange);
        border-radius: 8px;
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        text-align: center;
        color: #FCFAF9;
        width: 150px;
        height: 48px;
        justify-content: center;
        align-items: center;
        margin-top: 8.53%;
    }

    .container a:hover {
        background-color: var(--orange-light);
    }
       
    
    
    .container h3 {
        border-radius: 8px;
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        text-align: center;
        color: var(--gray-light);
        margin-top: 8.53%;
        margin-left: 32px;
    }

    /* background off main */

.first-image {
    background: url(./assets/mobile/image-keyboard.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 99.8%;
    height: 331px;
    border-radius: 20px 0 0 20px;
}

.section-one{
    margin-top: 30px;
   position: relative;

}
.image-one-cont {
    position: relative;
    /* mix-blend-mode: multiply; */
}

.image-one {
    background: url(./assets/mobile/image-phone-and-keyboard.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    Width: 129px;
    Height: 193px;
    border-radius: 20px;
    left: -1px;
    /* margin-top: 10%; */

}
.image-one-hover {
    position: absolute;
    Width: 155px;
    Height: 193px;
    border-radius: 20px;
    background: var(--orange);
    opacity: 0.75;
    left: -25px;
    top: 0px;
    mix-blend-mode: multiply;
}




.image-two {
    background-image: url(./assets/mobile/image-glass-and-keyboard.jpg);
    background-repeat: no-repeat;
    /* display: inline-block; */
    width: 218px;
    height: 193px;
    border-radius: 30px;
    margin-left: 147px;
    margin-top: -191px;
}
.section-info {
    margin-left: 6.4%;
    margin-right: 6.4%;
    margin-top: 23vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-info h1 {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    color: var(--gray-darg);
    width: 255px;
    height: 108px;

}

.section-info p {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: var(--gray-light);
    margin-top: 24px;
    margin-left: 6.4%;
    margin-right: 6.4%;
}

/* <!-- this is kayboard specification sectcion  --> */

.section-two {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.block {
    margin-top: 50px;
    /* margin-left: 3vh; */
    margin-left: 6.4%;
    margin-right: 6.4%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.block div {
    display: flex;
    width: 65px;
    height: 65px;
    background-color: var(--orange);
    align-items: center;
    border-radius: 16px;
    justify-content: center;
}

.block h1 {
    margin-top: 48px;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    width: 210px;
    height: 56px;
}

.block p {
    margin-top: 24px;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: var(--gray-light);
    margin-left: 6.4%;
    margin-right: 6.4%;
}

        /* Footer of the page  */
 footer p {
    margin-top: 96px;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    color: var(--gray-light);
    text-align: center;
    height: 60px;
 }       



            /* designe for TABLET */

     @media screen  and (min-width: 768px)  {
        

                    /* header */
        header img {
            margin-left: 6.4%;
        }            
        header a {
            display: inline-block;
            display: flex;
            justify-content: center;
            background: var(--gray-light-two);
            border-radius: 8px;
            font-family: 'Barlow';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            color: var(--gray-darg);
            width: 175px;
            height: 58px;
            align-items: center;
            margin-top: 27px;
            margin-right: 6.4%;
        }

                /* main */

        main{
            flex-direction: row;
            /* outline: solid red; */
        }
        .container {
            position: relative; 
            align-items: center;
            margin-left: 0%;
            margin-top: 10%;
            margin-bottom: 30px;
            width: 379px;

        }

        .container h2{
            width: 175px;
            height: 58px;
        }

        .container h3 {
            width: 127px;
            height: 26px;
        }

        .first-image {
            background: url(./assets/tablet/image-keyboard.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            width: 41vw;
            height: 455px;
            border-radius: 20px 0 0 20px;
            margin-left: 100px;
        }

                /* section one */

        .section-one{
            display: inline-block;
            /* position: relative; */
            /* flex-direction: row; */
        
        }
        .image-one-cont {
            display: flex !important;
            justify-content: space-between;
            position: relative;
        }
        
        .image-one {
            background: url(./assets/tablet/image-phone-and-keyboard.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            Width: 240px;
            Height: 400px;
            border-radius: 20px;
            margin-top: 120px;
            margin-left: 52px;
        
        }

        .image-one-hover {
            position: absolute;
            Width: 240px;
            Height: 400px;
            border-radius: 20px;
            background: var(--orange);
            opacity: 0.75;
            mix-blend-mode: multiply;
            margin-top: 120px;
            margin-left: 77px;
        }

        .image-two {
            margin-top: -400px;
            display: flex;
            background-image: url(./assets/tablet/image-glass-and-keyboard.jpg);
            background-repeat: no-repeat;
            display: inline-block;
            width: 450px;
            height: 400px;
            border-radius: 30px;
            margin-left: 355px;
            position: absolute;
        }
        .section-info {
            margin-top: 100px;
            display: flex;
            flex-direction: row;
          
        }

        .section-two {
            flex-direction: row;
        }
     }    
     
     

            /* Desktop version  */

@media screen and (min-width: 1440px) {
    
    header img {
        margin-left: 12.4%;
    }            
    header a {
        display: inline-block;
        display: flex;
        justify-content: center;
        background: var(--gray-light-two);
        border-radius: 8px;
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        color: var(--gray-darg);
        width: 175px;
        height: 58px;
        align-items: center;
        margin-top: 27px;
        margin-right: 11.5%;
    }


    body {
        background-image: url(assets/shared/pattern-square.svg);
        background-repeat: no-repeat;
        background-position: right -131px top 150px;
    }
    
    .container {
        margin-top: 5%;
        margin-left: 6.4%;    
    }
    
    header {
        margin-left: 8%;
    }
    .first-image {
        background-image: url(assets/desktop/image-keyboard.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 40vw;
        height: 450px;
        border-radius: 20px;
        margin-left: 137px;
    }

    .section-one {
        margin-top: -80px;
        margin-left: 6.4%;
        display: flex;
        display:inline-flex
    }
    .image-one-cont {
        display: flex !important;
        justify-content: space-between;
        position: relative;
    }
    
    .image-one {
        background: url(./assets/desktop/image-phone-and-keyboard.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        Width: 240px;
        Height: 400px;
        border-radius: 20px;
        margin-top: 120px;
        margin-left: 52px;
    
    }

    .image-one-hover {
        position: absolute;
        Width: 240px;
        Height: 400px;
        border-radius: 20px;
        background: var(--orange);
        opacity: 0.75;
        mix-blend-mode: multiply;
        margin-top: 120px;
        margin-left: 77px;
    }

    .image-two {
        margin-top: 120px;
        display: flex;
        background-image: url(./assets/desktop/image-glass-and-keyboard.jpg);
        background-repeat: no-repeat;
        display: inline-block;
        width: 450px;
        height: 400px;
        border-radius: 30px;
        margin-left: 355px;
        /* position: absolute; */
    }
    .section-info {
        flex-direction: column;
        margin-left: 567px;
        width: 423px;
        margin-top: 182px;
        /* height: 300px; */
      
    }
}        
